# Runtime
SQLAlchemy[asyncio]>=2.0
starlette>=0.40

# Test
fastapi>=0.115
httpx==0.28.1
pytest>=8.3.0
pytest-asyncio>=0.24.0
pytest-cov>=5.0.0
sqlmodel>=0.0.24
aiosqlite==0.20.0
asyncpg>=0.27.0
greenlet>=3.2.4
